* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial;
}

body {
    background: #43C6AC; 
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);
    background: linear-gradient(to right, #191654, #43C6AC)
}

main {
    background-image: url("https://www.geniol.com.br/static/hangman/hangman-game-og-share.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    text-align: center;
    padding-top: 8rem;
    top: 3rem;
}

h1 {
    color: floralwhite;
    text-align: center;
    padding-top: 2rem;
}

.botoes {
    margin-top: 10rem;
}

.botoes a {
    text-decoration: none;
    background-color: blueviolet;
    margin-left: 1rem;
    padding: 1rem;
    color: antiquewhite;
    font-size: 1.1rem;
    border-radius: 7px;
}

.container-btn {
    position: relative;
    top: 5rem;
}


.botoes a:hover {
    background-color: darkorchid;
}

@-webkit-keyframes glowing {
    0% { background-color: #1ed30db0; -webkit-box-shadow: 0 0 3px #0d84d3b0; }
    50% { background-color: #1ed30db0; -webkit-box-shadow: 0 0 3px #0d84d3b0; }
    100% { background-color: #3547b0; -webkit-box-shadow: 0 0 3px #0516b3; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #0d84d3b0; -moz-box-shadow: 0 0 3px #35b084; }
    50% { background-color: #0d84d3b0; -moz-box-shadow: 0 0 3px #0d84d3b0; }
    100% { background-color: #0d84d3b0; -moz-box-shadow: 0 0 3px #0d84d3b0; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #0d84d3b0; box-shadow: 0 0 3px #35b084; }
    50% { background-color: #1ed30db0; box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #0d84d3b0; box-shadow: 0 0 3px #35b084; }
  }
  
  @keyframes glowing {
    0% { background-color: #599eccb0; box-shadow: 0 0 3px #35b084; }
    50% { background-color: #1ed30d; box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #0d84d3b0; box-shadow: 0 0 3px #35b084; }
  }
  
  .botaoA, .botaoB, .botaoC {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }